
.books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.books article {
    flex: 30%;
}

.book img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.book{
  padding: 1rem;
}

.books{
  padding-left: 1rem;
}