html {
    background-color: #FFF0F5;
}

.link {
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    color: #696969;
}

.link:hover {
    color: #000000;
}

main {
    width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 10px auto;
}


.taskBlock {
    padding: 10px;
    background-color: #F0F8FF;
    border: 2px solid #F0F8FF;
}

.taskBlock h2 {
    margin: 10px 0;
}

.taskBlock span {
    margin: 10px 0;
}

.deleteButton {
    display: block;
    width: 250px;
    line-height: 2rem;
    text-align: center;
    margin: 10px auto;
    border-radius: 30px;
    background-color: #F0F8FF;
}
.deleteButton:hover {
    background-color: #B0C4DE;
}

.selected {
    background-color: #B0C4DE;
}